# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Alembic
# ==========================
alembic/versions/__pycache__/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Database Files
# ==========================
*.sqlite3

# ==========================
# Docker
# ==========================
.dockerignore